<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
	<title>Insert title here</title>
</head>

<body>

	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item " href="/index">
				<strong><span class="is-size-3">ヒット＆ブロー　～白って200色あんねん～</span></strong>

			</a>

		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">



			</div>

			<div class="navbar-end">
				<a class="navbar-item">
					スコア:<th:block th:text="${list.score}"></th:block>
				</a>

				<a class="navbar-item" href="/index">
					Home
				</a>
				<a class="navbar-item" href="/game">
					Game
				</a>
				<a class="navbar-item" href="/gacha">
					Gacha
				</a>

				<a class="navbar-item" href="/items">
					Items
				</a>
			</div>
		</div>
	</nav>
	<div class="content">
		<p>
			ガチャで手に入れたアイテム一覧
		</p>

		<div className="columns is-vcentered is-multiline">
			<div className="column is-6">
				<th:block th:each="data : ${#numbers.sequence(0,list.itemsList.size-1)}">
					<img th:src="${list.itemsList[data]}">
				</th:block>
			</div>

		</div>
		<!--
					<table>
			<th:block th:each="data ,i${#numbers.sequence(1,6)}">
				<tr>
					<th:block th:each="data ,i:${list.itemsList}">
						<td>
							<img th:src="${data}">
						</td>

					</th:block>
				</tr>
			</th:block>

		</table>
			-->
		<!-- https://saruwakakun.com/html-css/reference/buttons -->
		<!-- https://csshtml.work/button-text-center/#i-2 -->
	</div>

</body>

</html>