<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
	<title>Insert title here</title>
</head>

<body>

	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item " href="/index">
				<strong><span class="is-size-3">ヒット＆ブロー　～白って200色あんねん～</span></strong>

			</a>

		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">



			</div>

			<div class="navbar-end">

				<a class="navbar-item" href="/index">
					Home
				</a>
				<a class="navbar-item" href="/game">
					Game
				</a>
				<a class="navbar-item" href="/gacha">
					Gacha
				</a>

				<a class="navbar-item" href="/items">
					Items
				</a>
			</div>
		</div>
	</nav>
	<div class="content">
		<p>
			席替えシステム(仮)
		</p>

		<p>
			スクリーン
		</p>
		<div class="columns is-vcentered is-multiline">
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[0]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[1]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[2]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[3]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[4]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[5]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[6]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[7]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[8]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[9]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[10]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[11]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[12]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[13]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[14]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[15]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[16]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[17]}">
			</div>
			<div class="column is-2">
				<span class="box has-background-primary-light" th:text="${names[18]}">
			</div>


		</div>
		<!--		<div class="columns is-vcentered is-multiline">-->
		<!--			<div class="column is-2" th:each="data : ${#numbers.sequence(0,names.length-1)}">-->
		<!--				<th:block>-->
		<!--					<span class="box has-background-primary-light" th:text="${names[data]}">-->
		<!--				</th:block>-->
		<!--			</div>-->

		<!--		</div>-->
		<!--
					<table>
			<th:block th:each="data ,i${#numbers.sequence(1,6)}">
				<tr>
					<th:block th:each="data ,i:${list.itemsList}">
						<td>
							<img th:src="${data}">
						</td>

					</th:block>
				</tr>
			</th:block>

		</table>
			-->
		<!-- https://saruwakakun.com/html-css/reference/buttons -->
		<!-- https://csshtml.work/button-text-center/#i-2 -->
	</div>

</body>

</html>